# Python
__pycache__/
*.pyc
venv/
.env

# Node / Next.js
node_modules/
.next/
dist/
build/

# Dataset and model files
dataset/
*.zip
*.h5
*.keras
*.pkl

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db